body {
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
   background-image: url("https://img.freepik.com/free-photo/statistic-documents-with-businessman-blurred-background_1098-293.jpg?w=900&t=st=1661749458~exp=1661750058~hmac=d357d8972b543342429b0d14449388c858bc58b33413dff53932ba1f3d1d25bb");
 }
 @media (min-width: 576px){
.col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    height: 600px;
}
 }
 /* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  /* .row.content {height: 450px} */
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 200%;
  }


#alignment,h1{
  position: relative;
  top:10px;
}
#lorem{
  position: relative;
  bottom: 400px;
}

  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
      
    }
    .row.content {height:auto;}
  }
